[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
sqlalchemy-serializer = "*"
python-decouple = "*"
sshtunnel = "*"
psycopg2 = "*"
mqbackend = {editable = true, path = "."}
http-status = "*"
flask = "*"
uwsgi = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flatten-json = "*"
icecream = "*"
gevent = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
